/* Single Blog Post */
.single-blog {
  position: relative;
  min-height: 750px; /* Adjust the height as needed */
  padding: 20px;
  max-width: 1600px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Back Button Styling*/
.back-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 14px;
  background-color: #2C3E50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #1A252F;
}

/* Media */
@media (max-width: 768px) {
  .back-button {
    bottom: 10px;
    right: 10px;
    padding: 8px 12px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .back-button {
    bottom: 8px;
    right: 8px;
    padding: 6px 10px;
    font-size: 10px;
  }
}
